<div class="verify-container">
  <div class="verify-card">

    <h1>Check the email address.</h1>

    <p class="description">
      To verify your email, we sent a code to
      <strong>{{ email }}</strong>
      <a class="alter-link" (click)="changeEmail()"> (Change)</a>
    </p>

    <form #form="ngForm" (ngSubmit)="verifyRegisterCode()">

      <label for="code">Enter the security code.</label>

      <input
        id="code"
        name="code"
        type="text"
        maxlength="6"
        required
        [(ngModel)]="code"
      />

      <div class="validation-container">
        @if(resendSuccessMessage) {
          <p class="validation-success-message">
            <i class="fa-solid fa-circle-check" aria-hidden="true"></i>
            We've sent a new code to your email.
          </p>
        }
        @if(errors && errors.status === 400) {
          <p class="validation-error-message">
            <i class="fa-solid fa-exclamation-circle" aria-hidden="true"></i>
            {{ errors.message }}
          </p>
        }
        @for(error of errors.errors; track $index) {
          @if(error.field === 'code') {
            <p class="validation-error-message">
              <i class="fa-solid fa-exclamation-circle" aria-hidden="true"></i>
              {{ error.message }}
            </p>
          }
        }
      </div>

      <button
        type="submit"
      >
        Create your e-commerce account.
      </button>

    </form>

    <a class="resend-link" (click)="resendCode()">
      Resend code
    </a>

  </div>
</div>
